.bar{
    width: 8%;
    margin: 1rem;
    display: block;
    text-align: center;
}

.sidebar-icons{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: auto;
    color:#000;
}