.VideoCard {
	display: flex;
	flex-direction: column;
	width: 25%;
	max-width: 100%;
}

.video-thumbnail {
	width: 75%;
}

.content-container {
	display: flex;
	flex-direction: row;
}

.profile-pic {
	border-radius: 50%;
	display: block;
	width: 25px;
	height: 25px;
}

.text-container {
	width: 75%;
}
