.VideoCard {
    display: flex;
    flex-direction: column;
}

.video-thumbnail {
    width: 25%;
}

.content-container {
    display: flex;
    flex-direction: row;
}

.profile-pic {
    border-radius: 50%;
    display: block;
    width: 25px;
    height: 25px;
}